In [145]:
#import all modules
import pandas as pd
import numpy as np

In [165]:
#Import the dataset
df = pd.read_csv("food_data.csv", encoding = "latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

## QUESTION 1

Consider the following list of tuples. How would you assign element 8 from the list to a variable x?

In [147]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

## QUESTION 2

Which of the following dataframe methods can be used to access elements across rows and columns?

In [148]:
df.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

# QUESTION 3

How would you check for the number of rows and columns in a pandas DataFrame named df?

In [149]:
df.shape

(60943, 12)

# QUESTION 4

What is the total Protein supply quantity in Madagascar in 2015?

In [150]:
df[df["Area"] == "Madagascar"].groupby(df[df["Element"] == "Protein supply quantity (g/capita/day)"]["Element"])["Y2015"].sum()
#Answer = 173.05

Element
Protein supply quantity (g/capita/day)    173.05
Name: Y2015, dtype: float64

# QUESTION 5

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

In [151]:
df[df["Item"] == "Wine"].groupby("Item")[["Y2015", "Y2018"]].sum()

        Y2015    Y2018
Item
Wine  4251.81  4039.32

# QUESTION 6

Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the highest sum in 2017?

In [152]:
df.groupby("Area")["Y2017"].sum().sort_values(ascending = False).head(1)
#Answer  = Nigeria

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

# QUESTION 7

Perform a groupby operation on â€˜Elementâ€™.  What year has the highest sum of Stock Variation?

In [153]:
df.groupby("Element").sum().loc["Stock Variation"]["Y2014":].sort_values(ascending = False)
#Answer = Y2014

Y2014    58749.83
Y2017    54316.91
Y2015    34910.99
Y2016    33140.12
Y2018    20577.91
Name: Stock Variation, dtype: float64

# QUESTION 8

Given the following numpy array. How would you select  the elements in bold and italics from the array?

In [154]:
array  = ([[94, 89, 63],[93, 92, 48],[92, 94, 56]])
array = np.array([[98, 89, 63], [93, 92, 48], [92,94, 56]])
array[:2,1:]

#Answer = array[:2,1:]

array([[89, 63],
       [92, 48]])

# QUESTION 9

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [155]:
df["Y2017"].describe().round(2)
#Answer
#mean = 140.92
#std = 1671.86

count     59437.00
mean        140.92
std        1671.86
min       -1582.00
25%           0.00
50%           0.10
75%           9.00
max      190873.00
Name: Y2017, dtype: float64

# QUESTION 10

Given the following python code, what would the output of the code give?

In [156]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

# QUESTION 11

What would be the output for?

In [157]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]
#Answer = 'e'

'e'

# QUESTION 12
A pandas Dataframe with dimensions (100,3) has how many features and observations?

In [158]:
#Answer 3 features, 100 observations

# QUESTION 13

Which of the following is a python inbuilt module?

In [159]:
#Answer = Math

# QUESTION 14


Which of these python data structures is unorderly?

In [160]:
#Answer = Set

# QUESTION 15

Perform a groupby operation on â€˜Elementâ€™.  What is the total number of the sum of Processing in 2017?

In [161]:
df.groupby(df[df["Element"] == "Processing"]["Element"])["Y2017"].sum()
#Answer = 292836.00

Element
Processing    292836.0
Name: Y2017, dtype: float64

# QUESTION 16

What is the total number of unique countries in the dataset?

In [162]:
df["Area"].nunique()

49

# QUESTION 17

If you have the following list, How do you create a pandas DataFrame using this list, to look like the table below?

In [167]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ["Age","Nationality","Overall"]

df2 = pd.DataFrame(lst, columns = col, index = [1, 2, 3] )
df2

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

# QUESTION 18 

Which year had the least correlation with â€˜Element Codeâ€™?

In [168]:
col_of_interest = ["Y2014", "Y2015", "Y2016", "Y2017", "Y2018", "Element Code"]
subset = df[col_of_interest]
correlation_matrix = subset.corr()
correlation_matrix
#Answer = Y2016

                 Y2014     Y2015     Y2016     Y2017     Y2018  Element Code
Y2014         1.000000  0.994647  0.996081  0.995230  0.994872      0.024457
Y2015         0.994647  1.000000  0.995739  0.988048  0.988208      0.023889
Y2016         0.996081  0.995739  1.000000  0.992785  0.992757      0.023444
Y2017         0.995230  0.988048  0.992785  1.000000  0.998103      0.024254
Y2018         0.994872  0.988208  0.992757  0.998103  1.000000      0.024279
Element Code  0.024457  0.023889  0.023444  0.024254  0.024279      1.000000

# QUESTION 19

Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the 7th lowest sum in 2017?

In [169]:
df.groupby("Area")["Y2017"].sum().sort_values(ascending = True).head(7)
#Answer = Guinea-Bissau

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

# QUESTION 20

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [170]:
df["Y2014"].isnull().sum().round(2)

1589

In [171]:
((df["Y2014"].isnull().sum() /  df.shape[0] ) * 100).round(2)

2.61

In [172]:
print("Total number of missing data in 2014 is", df["Y2014"].isnull().sum().round(2))
print("Percentage missing data in 2014 is", ((df["Y2014"].isnull().sum() /  df.shape[0] ) * 100).round(2),"%")

Total number of missing data in 2014 is 1589
Percentage missing data in 2014 is 2.61 %